fastapi
uvicorn[standard]
faster-whisper
langchain
langchain-community
langchain-core
langgraph
psutil
qdrant-client
sentence-transformers
google-genai
yt-dlp
youtube-transcript-api
apify-client
python-dotenv
sse-starlette
langchain-groq
pydantic
requests
tiktoken