fastapi
uvicorn[standard]
faster-whisper
langchain
langchain-community
langchain-core
langgraph

langchain-google-genai

qdrant-client

sentence-transformers

yt-dlp
youtube-transcript-api

apify-client

deepgram-sdk

python-dotenv

sse-starlette

pydantic

requests
tiktoken